NODE_ENV=production
PORT=5001
HOST=127.0.0.1
MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/linkghosta
CLIENT_URL=https://linkghosta.com,https://www.linkghosta.com

JWT_SECRET=
JWT_EXPIRES_IN=7d

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

RESEND_API_KEY=
EMAIL_FROM=
ADMIN_EMAIL=
INQUIRY_NOTIFICATION_EMAIL=
ADMIN_NAME=
ADMIN_PASSWORD=
